* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #eeeef8;
    --secondary-background-color: #2D2C59;
}

html {
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
}

header nav ul a{
    text-decoration: none;
    margin: 1.5rem;
}

header nav ul a li {
    list-style-type: none;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    position: relative;
}

header #justify-start {
    position: absolute;
    left: 0;
}

header {
    background-color: var(--secondary-background-color);
    height: 3rem;
}